* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#error-page {
  text-align: center;
}

#mainTitle {
  display: flex;
  font-size: 2.75vw;
  grid-row: span 2;
  padding-left: 40px;
  width: 100%;
  align-items: center;
}

#mainTitle img {
  width: 12vw;
}

#header {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: end;
  justify-content: space-evenly;
  max-width: 100%;
  position: sticky;
  background-color: black;
  z-index: 1000;
  top: 0;
  padding: 0.5rem;
}

#userName {
  text-align: center;
}

#articlesList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

li {
  list-style: none;
}

.articleCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "titles titles"
    "img info";
  max-width: 40%;
  background-color: black;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  align-items: start;
  justify-items: center;
}

.titles {
  text-align: center;
  font-size: 2vw;
  grid-column: span 2;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: cornflowerblue;
}

.articleImg {
  grid-area: img;
  max-width: 100%;
  object-fit: cover;
  height: 100px;
}

.cardInfo {
  grid-area: "info";
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0;
}

.comments {
  grid-area: "comments";
}

.likeIt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 2vw;
  padding-top: 0.25rem;
}

#votebuttons {
  display: flex;
  align-items: center;
}

#votebuttons p {
  margin: 0.5rem;
  font-size: 1rem;
}

.votes {
  font-size: 10px;
  margin-top: 1rem;
  text-align: center;
}

.likeIt button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 3px;
  /* padding: 0.5px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.fullArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem 0;
  max-width: 80%;
}

.fullArticle h1 {
  font-size: 6vw;
}

.title {
  text-align: center;
  padding: 20px;
}

.fullArticle p {
  font-size: 2.5vw;
}

.bodyText {
  margin: 1rem;
}

#author {
  font-size: 3vw;
  margin-top: 0.5rem;
}

#voting {
  margin: 0.5rem;
  text-align: center;
}

#buttonGroup {
  display: flex;
}

.fullArticle button {
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 3vw;
}

#signin {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
}

.headerButton {
  padding: 0.1rem 0.2rem;
  margin: 5px;
  border-radius: 8px;
}

.headerText {
  font-size: 0.75rem;
  text-align: center;
}

button:hover {
  background-color: rgb(87, 107, 144);
}

button {
  background-color: transparent;
}

#filter {
  width: 40%;
  margin: 10px auto;
  border-radius: 8px;
}

#filterNav {
  background-color: rgb(19, 18, 18);
  border: 1px solid white;
}

#filterNav input,
select {
  margin: 0.5rem;
}

#filterNav fieldset {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem-;
}

#filterNav button {
  margin: 1.5rem 0.5rem;
  background-color: black;
  padding: 0.2rem;
  border-radius: 6px;
}

#commentsButton {
  margin: 1rem;
  padding: 0.25rem;
  font-size: 3vw;
}

.comment {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 8px;
  max-width: 550px;
}

.comment p {
  padding: 0.5rem 0;
}

#commentDate {
  margin: 0;
  padding: 0;
}

#commentActions {
  display: flex;
  align-items: center;
  justify-content: center;
}

#commentActions button {
  width: 5vw;
  height: 5vw;
}

.errorMessage {
  font-size: 8px;
  height: 15px;
}

#commentLabel {
  font-size: 12px;
}

#commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#commentHeader {
  display: flex;
  justify-content: flex-end;
}

.comments {
  grid-area: comments;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#delete {
  font-size: 1rem;
  background-color: transparent;
  color: red;
  border: none;
  margin: 0;
  padding: 0;
}

#delete:hover {
  cursor: pointer;
  color: rgb(224, 25, 25);
}

.deleteCheck {
  background-color: black;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deleteButtons button {
  font-size: 12px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  background-color: #313131;
  padding: 10px;
  border-radius: 10px;
}

.close {
  font-size: 10px;
  cursor: pointer;
}

#welcome {
  width: 70%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome a {
  display: flex;
  align-items: center;
}

#welcome p {
  margin: 0.5rem;
  text-align: center;
}

#welcomeMessage {
  text-align: center;
}

.bigWelcome {
  font-size: 2rem;
}

#enchilada {
  width: 30%;
  margin: 0 auto;
}

#enchilada:hover {
  transform: scale(1.1);
  transition: ease;
}

#error-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  line-height: 2rem;
}

#error-page button {
  margin: 3rem;
  padding: 0.5rem;
  border-radius: 8px;
}

#error-page img {
  width: 250;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  #articlesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .articleCard {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "titles titles"
      "img info";
    max-width: 100%;
    background-color: black;
  }

  .fullArticle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    align-items: start;
    margin: 1rem auto;
    padding: 0.5rem 0;
    max-width: 100%;
    grid-template-areas:
      "title title title"
      "image image info"
      "image image info"
      "bodytext bodytext comments";
    justify-items: center;
  }

  .title {
    grid-area: title;
    grid-column: span 3;
    text-align: center;
  }

  .image {
    max-width: 70%;
    height: auto;
    box-sizing: border-box;
    padding: 0.5rem 0 1rem 0;
    object-fit: contain;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  .image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .info {
    grid-column: 3 / span 1;
    grid-area: info;
  }

  .bodyText {
    grid-column: 1 / span 2;
  }

  #comment p {
    font-size: 12px;
  }

  #commentsButton {
    font-size: 2vw;
  }

  .fullArticle button {
    font-size: 12px;
  }

  .fullArticle h1 {
    font-size: 30px;
  }

  .fullArticle p {
    font-size: 16px;
  }

  #author {
    font-size: 1.5vw;
  }

  #appContainer {
    width: 60%;
    margin: 0 auto;
  }

  .articleCard h2 {
    font-size: 16px;
  }

  .likeIt {
    font-size: 12px;
    padding: 0;
  }

  .info button {
    font-size: 12px;
  }

  #commentsButton {
    font-size: 12px;
  }

  .addCommentButtons button {
    font-size: 12px;
  }
}

@media screen and (max-width: 468px) {
  #commentsButton {
    font-size: 3vw;
  }

  .articleCard {
    max-width: 60%;
  }

  .fullArticle p {
    font-size: 4vw;
  }

  .fullArticle button {
    font-size: 3vw;
  }

  #appContainer {
    width: 100%;
    margin: 0 auto;
  }

  .articleCard p {
    font-size: 3.5vw;
  }

  #filterNav {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  #header {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  #signin {
    flex-direction: row;
    align-items: center;
  }

  .titles h2 {
    font-size: 4vw;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 40px;
  outline: 2px solid #fff;
  background: radial-gradient(farthest-side, red 90%, #0000) 0 0/8px 8px
      no-repeat,
    radial-gradient(farthest-side, #000 90%, #0000) 0 0/8px 8px no-repeat,
    linear-gradient(#fff 0 0) 50%/10px 100% no-repeat,
    conic-gradient(from 90deg at 10px 10px, #0000 90deg, #fff 0),
    conic-gradient(from -90deg at 60px 30px, #0000 90deg, #fff 0);
  animation: l9 2s infinite;
}
@keyframes l9 {
  0% {
    background-position: 50% 100%, 0 0, 50%;
  }
  12.5% {
    background-position: 0 100%, 50% 0, 50%;
  }
  25% {
    background-position: 0 0, 50% 100%, 50%;
  }
  37.5% {
    background-position: 50% 0, 100% 100%, 50%;
  }
  50% {
    background-position: 50% 100%, 100% 0, 50%;
  }
  62.5% {
    background-position: 100% 100%, 50% 0, 50%;
  }
  75% {
    background-position: 100% 0, 50% 100%, 50%;
  }
  82.5% {
    background-position: 50% 0, 0 100%, 50%;
  }
  100% {
    background-position: 50% 100%, 0 0, 50%;
  }
}
