* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#error-page {
  text-align: center;
}

h1 {
  text-align: center;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  position: sticky;
  background-color: black;
  z-index: 1000;
  top: 0;
  padding: 0.5rem;
}

#userName {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

.articleCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30%;
  grid-template-areas:
    "img titles"
    "comments actions";
  max-width: 80%;
  font-size: 0.75rem;
  background-color: black;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
}

.titles {
  text-align: center;
  font-size: 3.5vw;
}

.articleCard h2 {
  font-size: 5vw;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: cornflowerblue;
}

.articleImg {
  grid-area: img;
  max-width: 95%;
  padding-top: 0.5rem;
}
.info {
  grid-area: "info";
  text-align: center;
  font-size: 3.5vw;
}

.comments {
  grid-area: "comments";
}

.likeIt {
  grid-area: actions;
  text-align: center;
  margin: 0;
  font-size: 3.5vw;
}

.likeIt p {
  margin: 0.5rem 0;
}

.likeIt button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  margin: 0 0.75vw;
  padding: 0.25vw;
}

#filterNav a {
  margin: 20px 10px;
}

.fullArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem 0;
  max-width: 80%;
}

.fullArticle h1 {
  font-size: 6vw;
}

.fullArticle p {
  font-size: 4vw;
}

.img img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0.5rem 0 1rem 0;
}

.bodyText {
  margin: 1rem;
}

#author {
  font-size: 3vw;
  margin-top: 0.5rem;
}

#voting {
  margin: 0.5rem;
  text-align: center;
}

#buttonGroup {
  display: flex;
}

#voting button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullArticle button {
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 4vw;
}

button:hover {
  background-color: rgb(87, 107, 144);
}

button {
  background-color: transparent;
}

#filter {
  grid-column: span 2;
  width: 60%;
  margin: 10px auto;
  border-radius: 8px;
}

#filterClose {
  margin-top: 10px;
  border-radius: 8px;
  padding: 3px;
}

#commentsButton {
  margin: 1rem;
  padding: 0.25rem;
  font-size: 4vw;
}

.comment {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: black;
  border-radius: 8px;
  max-width: 550px;
}

.comment p {
  padding: 0.5rem 0;
}

#commentActions {
  display: flex;
  justify-content: space-around;
}

.errorMessage {
  font-size: 8px;
  height: 15px;
}

#commentLabel {
  font-size: 12px;
}

#commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#commentHeader {
  display: flex;
  justify-content: flex-end;
}

#delete {
  font-size: 1.5rem;
  background-color: transparent;
  color: red;
  border: none;
  margin: 0;
  padding: 0;
}

#delete:hover {
  cursor: pointer;
  color: rgb(224, 25, 25);
}

.deleteCheck {
  background-color: black;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  padding: 10px;
  border-radius: 10px;
}

.close {
  font-size: 10px;
  cursor: pointer;
}

@media screen and (min-width: 764px) {
  #comment p {
    font-size: 1vw;
  }

  #commentsButton {
    font-size: 2vw;
  }

  .fullArticle p {
    font-size: 2vw;
  }

  .fullArticle button {
    font-size: 2vw;
  }

  .fullArticle h1 {
    font-size: 4vw;
  }

  #author {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 964px) {
  #appContainer {
    width: 60%;
    margin: 0 auto;
  }

  .articleCard h2 {
    font-size: 2vw;
  }

  .info {
    font-size: 1.5vw;
  }

  .likeIt {
    font-size: 1.5vw;
  }
}
